:root{
  --Dark-Gray: hsl(0, 0%, 63%);
--Black: hsl(0, 0%, 0%);
--White: hsl(0, 0%, 100%);
--Very-Dark-Gray: hsl(0, 0%, 27%);
}
body{
  font-size: 12px;
  font-family: 'Spartan',sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  width: 7px;
  background-color: var(--Dark-Gray);
}
body::-webkit-scrollbar-thumb{
  background-color: royalblue;
  border-radius: 10px;
}
ul{
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}
img{
  max-width: 100%;
}
@media screen and (max-width:360px){
  .header{
    background-color:var(--Dark-Gray);
    color: var(--White);
    font-size: 0.8rem;
    height: 100px;
  }
  .navbar ul{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .navbar{
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .modal{
      position: fixed;
      z-index: 10;
      top: 100px;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      transform: scale(0);
      transition: transform 0.3s;
  }
  .show-modal{
    transform: scale(1);
  }
  .show{
    transform: translateY(0%);
  }
  .ham{
    position: absolute;
    top: 32px;
    left: 7px;
  }
  .logo{
    position: absolute;
    top: 10px;
    left: 40%;
  }
  h2,p,h3{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    text-align: justify;
    color: var(--Dark-Gray);
  }
  .attribution{
    background-color: var(--Dark-Gray);
    margin-top: -5px;
    text-align: center;
  }
  .attribution a{
    text-decoration: none;
    font-size: 0.9rem;
    color: purple;
  }
}
@media screen and (min-width:361px){
  .ham{
    display: none;
  }
  .header{
    color: var(--White);
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 45%;
  }
  .navbar {
    width: 100%;
  }
  .navbar .navbar-item{
    margin-right: 15px;
  }
  .navbar ul{
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
  }
  .logo img{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .splide__slide{
    display: flex;
  }
  .splide__slide .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .splide__slide h2{
    font-size: 2rem;
  }
  .splide__slide p{
    font-size: 1.2rem;
    color: var(--Dark-Gray);
  }
  .splide__slide h3{
    font-size: 1.5rem;
  }
  .splide__slide h2,h3,p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .splide__slide img{
    max-width: 100%;
    width: 500px;
    height: 500px;
  }
  .about{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
  }
  .about .info{
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  .about .info h2{
    text-align: center;
    font-size: 1.8rem;
  }
  .about .info p{
    color: var(--Dark-Gray);
  }
  .attribution {
    background-color: royalblue;
    margin-top: -5px;
    text-align: center;
  }

  .attribution a {
    text-decoration: none;
    font-size: 0.9rem;
    color: lime;
  }
}